<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  </style>
</head>
<body>
  <div id="app">
    <!-- {{}} 為模板語法，裡面可以加一些文字或是數字
       <h1>{{text + '123123'}}  123456</h1>
    -->
   <h1>{{ text }}</h1>
   <h1>{{ num }}</h1>
   <div v-html="img"></div>
   <!-- v-text 為 vue 的語法 -->
   <!-- <h1 v-text="text"></h1>  -->
   <!-- v-if 判斷式，符合才出現在 DOM -->
   <h1 v-if="num === 10">數字10(v-if)</h1>
   <h1 v-else-if="num > 10">數字大於10</h1>
   <h1 v-else="num < 10">數字小於10</h1>
   <!-- v-show 判斷式，不符合時 display: none -->
   <h1 v-show="num ===10">數字10(v-show)</h1>
   <ul>
    <!-- v-for="(值, 索引) in 陣列" -->
    <li v-for="value in phones">{{ value }}</li>
      <!-- v-for="(值, 索引) in 陣列" -->
       <hr>
    <li v-for="(value, index) in phones">{{ index + 1 }}: {{ value }}</li>
   </ul>
   <ul>
    <!-- 
    v-if 和 v-for 不能出現在同一個標籤裡面
    需使用 template 標籤分開 
    template 不會出現在標籤上
    -->
    <template v-for="(value, index) in phones">
      <li v-if="value === 'iPhone'">(v-for在前) {{ index + 1 }}:{{ value }}</li>
    </template>
   </ul>
   <ul>
    <template v-if="num === 10">
      <li v-for="value in phones">(v-if在前) {{ value }}</li>
    </template>
  </ul>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.27/vue.global.min.js' integrity='sha512-jDpwxJN+g4BhXLdba5Z1rn2MpR9L5Wp3WVf2dJt5A0mkPHnHLZHZerpyX4JC9bM0pkCL7RmAR8FwOm02h7RKFg==' crossorigin='anonymous'></script>
  <script>
    Vue.createApp({
      // 變數用 data 要寫成 function return {} 然後在裡面定義資料
      data () {
        return {
          text: 'abc',
          num: 10,
          img: '<img src="https://picsum.photos/id/684/300/200">',
          phones: ['Nothing', 'iPhone', 'Samsung']
        }
      }
    }).mount('#app')
  </script>
</body>
</html>